<div class="container">
  <div class="row">
    <div class="cols-xs-6 col-xs-offset-4 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 columns">
    <%= form_for(:session, :url => sessions_path) do |s|%>
        <div class="form-group">
          <%= s.label t(:email_id_label, :scope => :widget_names) %>
          <%= s.text_field :email_id, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= s.label t(:password_label, :scope => :widget_names) %>
          <%= s.password_field :password, class: "form-control"%>
        </div>
        <div class="cols-xs-6 col-xs-offset-4 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 columns">
          <%= s.submit t(:login_btn, :scope => :widget_names), :class => "btn btn-primary btn-small"%>
        </div>
    <% end %>
    </div>
  </div>
</div>
