<h4><%=t(:update_password, :scope => :topics)%></h4>
<div class="row-fluid">
<%= form_for @user, :url => {:action => 'update_password'}, :html => {:class => "form well"} do |u|%>
    <%= render 'common/error_messages', :object => u.object %>
    <div class="row-fluid">
        <div class="control-group span6">
          <%=u.label t(:password_label, :scope => :widget_names)%>
          <%=u.password_field :password%>
        </div>
        <div class="control-group span6">
          <%=u.label t(:password_confirm_label, :scope => :widget_names)%>
          <%=u.password_field :password_confirmation%>
        </div>
    </div>
    <div>
      <br/>
      <%=u.submit t(:update_btn, :scope => :widget_names), :class => "btn btn-primary"%>
    </div>
<% end %>
</div>