<div>

<h4><%=t(:patient_info, :scope => :topics)%>
  <small style="padding-left: 10%;">
        <span class="btn-group">
            <button class="btn">Start treatment</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to 'Add prescription',"/patients/#{@patient.id}/user_patients/new?type=2",
                              :data => {:toggle => "modal", :target => "#showDialog"}, :remote => true%></li>
              <li><%= link_to 'Add medicines',"/patients/#{@patient.id}/user_patients/new?type=3",
                              :data => {:toggle => "modal", :target => "#showDialog"}, :remote => true%></li>
              <li><%= link_to 'Add surgery',"/patients/#{@patient.id}/user_patients/new?type=1",
                              :data => {:toggle => "modal", :target => "#showDialog"}, :remote => true%></li>
            </ul>
        </span>
        <%= link_to 'Generate invoice', "/patients/#{@patient.id}/generate_invoice.pdf", :class => "btn", :style => "margin-left:5%;"%>
  </small>
</h4>
</div>




<div class="container">
  <table class="table table-striped table-bordered table-condensed">
    <tr><td><%=t(:patient_id, :scope => :table)%></td><td><%= @patient.id%></td></tr>
    <tr><td><%=t(:first_name, :scope => :table)%></td><td><%= @patient.first_name%></td></tr>
    <tr><td><%=t(:last_name, :scope => :table)%></td><td><%= @patient.last_name%></td></tr>
    <tr><td><%=t(:email_id, :scope => :table)%></td><td><%= @patient.email_id%></td></tr>
    <tr><td><%=t(:phone, :scope => :table)%></td><td><%= @patient.phone%></td></tr>
    <tr><td><%=t(:date_of_birth, :scope => :table)%></td><td><%= @patient.date_of_birth_string%></td></tr>
    <tr><td><%=t(:registered_on, :scope => :table)%></td><td><%= @patient.created_at_string%></td></tr>
  </table>

   <div id="loadUserPatients">
            <%= render 'user_patients/user_patient', :user_patients => @user_patients, :reportPage => false%>
     </div>
</div>






<div id="showDialog" class="modal fade" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%=t(:create_prescription, :scope => :topics)%></h3>
  </div>
  <div class="modal-body" id="loadData">
  </div>
</div>