<div class="row-fluid">
  <%= form_for @user_patient, :url => {:controller => :user_patients, :action => :create}, :remote => true, :html => {:class => "form well"} do |up|%>
      <%= render 'common/error_messages', :object => up.object %>
      <div class="row-fluid">
        <div class="form-group span6">
          <%=up.label t(:comments_label, :scope => :widget_names)%>
          <%=up.text_area :comments, :rows => 8, :class => "input-xxlarge form-control"%>
        </div>
      </div>
      <div class="row-fluid">
        <div class="form-group span6">
          <%=up.label t(:amount_label, :scope => :widget_names)%>
          <%=up.text_field :amount, type: "number", class: "form-control"%>
        </div>
      </div>
      <div style="display:none;">
        <%= up.hidden_field :patient_id%>
        <%= up.hidden_field :user_id%>
        <%= up.hidden_field :comment_type_id%>
      </div>
      <div class="row-fluid">
        <div class="form-group span6">
          <%=up.submit t(:add, :scope => :widget_names), :class => "btn btn-primary btn-small"%>
        </div>
      </div>
  <% end %>
</div>
